@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Karla:wght@400;700&family=Open+Sans&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Karla:wght@400;700&family=Lexend+Deca&family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --color-primary-very-dark-blue: hsl(233, 47%, 7%);
    --color-primary-dark-desaturated-blue: hsl(244, 38%, 16%);
    --color-primary-soft-violet: hsl(277, 64%, 61%);
    --color-primary-soft-violet-hsla: hsla(275, 95%, 30%, 0.5);

    --color-neutral-white: hsl(0, 0%, 100%);
    --color-neutral-slight-transparent-white: hsla(0, 0%, 100%, 0.75);
    --color-neutral-slight-transparent-white-stats: hsla(0, 0%, 100%, 0.6);

    --ff-Inter: "Inter", sans-serif;
    --ff-Lexend-Deca: "Lexen-Deca", sans-serif;

    --fs-body: 15px;
}


*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-Lexend-Deca);
    margin: 0;
    padding: 0;
    font-size: var(--fs-body);
    background-color: var(--color-primary-very-dark-blue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-neutral-white);

}

.container > .contend {
    display: grid;
    grid-template-columns: repeat(2, 575px);
    grid-template-rows: 445px;

}

.card-a {
    border-radius: 10px 0 0 10px;
    background-color: var(--color-primary-dark-desaturated-blue);
}



.title {
    font-family: var(--ff-Inter);
    font-size: 2rem;
    font-weight: 700;
    
}

.description {
    font-family: var(--ff-Lexend-Deca);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-neutral-slight-transparent-white);
}



ul li {
    list-style: none;
}

span {
    color: var(--color-primary-soft-violet);
}

.stats {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    margin: 0;
    font-family: var(--ff-Inter);
    font-size: 1.4rem;
    font-weight: 700;
}

h2 {
    margin: 0;
    font-family: var(--ff-Inter);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-neutral-slight-transparent-white-stats);
}








.card-b {
    position: relative;
}
.card-b img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

.card-b::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-soft-violet-hsla);
    border-radius: 0 10px 10px 0;
}